#navigation {
    margin: 0%;
    padding: 0%;
}

#nav_belt {
    display: grid;
    grid-template-columns: auto auto 50% auto auto;
    background-color: rgb(19, 25, 33);
    padding-left: 3%;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.nav_right {
    display: flex;
    align-items: center;
}

.nav_right td {
    color: rgb(204, 204, 204);
    font-size: 12px;
}

.nav_logo,
.location_button {
    display: inline;
}

.location_button img {
    width: 15px;
    display: inline;
}

.main_menu {
    background-color: rgb(35, 47, 62);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.main_menu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 9px;
    text-decoration: none;
    font-size: 15px;
    position: static;
    display: flex;
}

.main_menu a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.icon_label {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    position: static;
}

.menu_icon {
    width: 13px;
}

#product-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
}

@media (max-width: 900px) {
    #product-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    #product-grid {
        grid-template-columns: 1fr;
    }
}

#cartDiv img {
    position: absolute;
    right: 10px;
}

/*cart*/
.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.item img {
    max-width: 5%;
    height: auto;
    margin-right: 10px;
}

#body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buy {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buy:hover {
    background-color: #0069d9;
}


.item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.item img {
    width: 100px;
    margin-right: 1rem;
}

.item p {
    margin: 0;
}

.order {
    margin-right: 1rem;
}

.price {
    margin-left: auto;
}